@charset "utf-8";
/* CSS Document */

.asterisco-obrigatoria {color: red;}
.obrigatorio-borda {border: 1px solid #F00;}


.form-campos {padding-top: 10px;}

#section-corpo select  {
	color: #616475;
	border-radius: 4px;
	margin-left: 20px;
	border:solid 1px #999999;
	padding: 10px 0px 10px 0px;
}

#div-container-formulario {
	width: 800px;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
}

#div-cpf, #div-telefone-fixo,  #div-cep, #div-numero, #div-cidade, #div-senha {
	float: left;
	margin-right: 30px;
}

#div-telefone-fixo {
	clear: both;
	margin-right: 5px;
}

#div-btn-enviar input {
	margin: 50px 0px 5px 330px;
	width: 150px;
	border-radius: 4px;
	border:solid 1px #999999;
	padding: 15px 0px 15px 0px;
}

#dados-invalidos {
	color: red;
	margin: 0px 0px 5px 0px;
}