@charset "utf-8";

.asterisco-obrigatoria {color: red;}
#section-form-contato {padding: 0px 0px 0px 80px;}
#div-nome span {margin-left: 17px;}
#div-assunto span {margin-left: 10px;}

#section-form-contato {
	width: 450px;
	clear: both;
	float: left;
}

#dados-invalidos {
	color: red;
	font-size: 13px;
}

#section-meios-contato {
	width: 400px;
	float: right;
}


